body {
margin :0;
height: 100vh;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
font-family: Arial , sans-serif ;
background-image: url("https://nafezly-production.fra1.cdn.digitaloceanspaces.com/uploads/portfolios/26262_62b9d9b1532a8-1656347057.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
 }

header{
    text-align:center;
    font-weight:bold;
}

#result-display{
    font-size: 50px;
    font-weight: bold;
    min-height: 30px;
    margin-top: 10px;
    color:darkkhaki
}

button{
    margin: 10px;
    font-size:30px;
    background-color: darkgoldenrod;
    border: 2px solid rgba(0,0,0,1);
    width:45%;
    height: 80px;
    border-radius:20px;
   transition:border-color 0.3s ease;
 
}

button:hover{
    cursor:pointer;
  }


#restart {
  visibility: hidden;
}

h1{
    font-size: 40px;
    text-align: center;
    color:brown;
    margin-bottom: 5px;
}

 button img{
    width:100%;
    height:100%;
    object-fit:contain;
    border-radius: 20px;
 }

 .setTimer{
  border-radius:50%;
  font-size:5px;
  width: 10px;
  
 }
 #card{
  color:darkgoldenrod;
 }