body {
margin :0;
height: 100vh;
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
font-family: Arial , sans-serif ;
background-image: url("https://nafezly-production.fra1.cdn.digitaloceanspaces.com/uploads/portfolios/26262_62b9d9b1532a8-1656347057.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
 }

header{
    text-align:center;
    font-weight:bold;
}



button{
    margin: 10px;
    font-size:30px;
    background-color: darkgoldenrod;
    border: 2px solid rgba(0,0,0,1);
    width:45%;
    height: 80px;
    border-radius:20px;
   transition:border-color 0.3s ease;
 
}

button:hover{
    cursor:pointer;
}




h1{
    font-size: 40px;
    text-align: center;
    color:brown;
    margin-bottom: 5px;
}








 #countplay{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color:rgb(213, 10, 145);
   
}
 
.hidden{
  visibility:hidden;
}